

.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.squeezed {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ff8c00;
}

.content {
    padding: 20px;
    font-size: 18px;
}
#X{
    border-color: blue red yellow green;
        border-style:solid;
        border-width:50px 50px 50px 50px;
        width:52px;
        height:10px;
}